<h1>{{employee.name}} Details </h1>
<div><span class='label'>Id: </span>
  <span class='label-content'>
    {{employee.id}}
  </span>
</div>
<div><span class='label'>Name: </span>
  <span class='label-content'>
    {{employee.name}}
  </span>
</div>
<div><span class='label'>Age: </span>
  <span class='label-content'>
    {{employee.age}}
  </span>
</div>
<div><span class='label'>Desgination: </span>
  <span class='label-content'>
    {{employee.designation}}
  </span>
</div>

<div>
  Change the employee name here
  <input [(ngModel)] = "employee.name" placeholder='change name'>
</div>

<h1>You are seeing Emplyees List</h1>
<ul class='heroes'>
    <li *ngFor='let employee of employeeList'>
      <a href='/detail/{{employee.id}}'>
          <span class="badge">{{employee.id}}</span> {{employee.name}}
      </a>
    <li>
</ul>
<!-- <app-employee-detail [employee]='selectedEmployee'></app-employee-detail> -->
